@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Professor"]</p>

<address>
    <string>More information: </string><a http://educandoweb.com.br>Educandoweb.com.rb</a>
</address>


